/*
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
*/
.accordions {
  > .accordion {
    border-bottom: 1px solid #eee;

    > .title {
      padding: 25px 30px 25px 15px;
      position: relative;
      cursor: pointer;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        background-image: url('/assets/svg/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        right: 10px;
        top: 30px;
        transform: rotate(90deg);
        transition: transform .2s;
      }

      &.active {
        &:after {
          transform: rotate(-90deg);
        }
      }
    }

    > .content {
      height: 0px;
      transition: height 0.3s;
      overflow: hidden;
      cursor: initial;

      &.active {
        height: auto;
        overflow: visible;
        padding: 40px 0;
      }
    }
  }
}
