/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.io
 */
.wrapper {
  display: block;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 30px;

  @include breakpoint(900) {
    padding: 0 15px;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w50 {
  width: 50%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w100 {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;

  > * {
    flex: 1 1 auto;
  }

  > * + * {
    margin: 15px 0 0;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.between {
    @include breakpoint-min(768) {
      justify-content: space-between;
    }
  }

  @include breakpoint-min(768) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    > * + * {
      margin: 0 0 0 30px;
    }

    &.start {
      align-items: flex-start;
    }
  }
}

.flex-0 {
  flex: 0 0 auto;
}

.flex-1 {
  flex: 1 1 auto;
}

.hide-480 {
  @include breakpoint-min(480) {
    display: none !important;
  }
}

.mute {
  opacity: 0.5 !important;
}

.page {
  animation: fadeIn 0.2s forwards;
  padding-top: 25px;

  > header,
  > main {
    padding: 35px 25px;
  }
}

.middleEllipsis {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-weight: inherit;
  font-size: inherit;
  max-width: 100%;
  line-height: 1;
  user-select: all;
  color: inherit;

  > .start {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
  }

  > .end {
    white-space: nowrap;
    flex: 0 0 0;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
  }
}

.currency {
  &:after {
    content: "$";
    padding-left: 5px;
  }
}

.divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;

  &:before,
  &:after {
    content: "";
    flex: 1;
    width: 100%;
    border: 0.5px solid $white;
  }

  &:before {
    margin-right: 15px;
  }

  &:after {
    margin-left: 15px;
  }

  > * {
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: $grey;
  }

  &-right {
    &:before {
      content: none;
    }
  }

  &-left {
    &:after {
      content: none;
    }
  }
}
