/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
@import '../../styles/utils.scss';

.AMB-Checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  > .label {
    flex: 1 1 auto;
    margin-left: 15px;
  }

  .checkbox {
    flex: 0 0 auto;
    position: relative;
    width: 22px;
    height: 22px;
    border: 2px solid $black;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;

    > .icon {
      display: inline-block;
      transform: scale(0);
      opacity: 0;
      transition-property: opacity, transform;
      transition-duration: .2s;
      position: relative;
      top: 3px;
      left: 3px;

      > svg {
        width: 13px;
        height: 13px;
      }
    }

    > input {
      visibility: hidden;
      position: absolute;
      opacity: 0;
      width: 1px;
      height: 1px;

      &:checked {
        + .icon {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  &.light {
    .checkbox {
      border: 2px solid $white;
    }

    > .label {
      color: $white;
    }
  }
}
