@import "../../styles/variables";
@import "../../styles/mixins";

.AMB-Button {
  @include font-size(14px, 14px);

  background: $background-light;
  outline: none;
  align-items: center;
  border: 1px solid rgba(#fff, 0.1);
  height: 40px;
  display: flex;
  color: #fff;
  border-radius: 20px;
  padding: 0 20px;
  position: relative;

  &.loading {
      padding-right: 50px;
  }

  &:not(:disabled) {
      cursor: pointer;

      &:hover {
          background: darken($background-light, 5);
      }
  }

  &:disabled {
      background: lighten($background-light, 10);
  }

  .Sideicon {
      margin-right: 10px;

      svg {
          width: 16px;
          height: 16px;

          path {
              fill: $accent-color;
          }
      }
  }

  .Loadingicon {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
  }

  &.primary {
      background: $accent-color;
      color: #fff;

      &:disabled {
          background: lighten($accent-color, 10);
      }

      .Sideicon {
          svg {
              path {
                  fill: #fff;
              }
          }
      }

      &:not(:disabled) {
          &:hover {
              background: darken($accent-color, 5);
          }
      }
  }
}