/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
@import 'styles/utils';

%label {
  text-align: left;
  display: block;
  width: 100%;
  user-select: none;
  position: relative;
  color: $grey;

  .meta {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    line-height: 1;
    padding: 10px 15px;
    background: transparent;
    flex: 0 0 auto;

    > * {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .SVG {
      line-height: 0;
      color: $black;

      svg {
        width: 14px;
        height: 14px;
        fill: currentColor;
      }
    }
  }

  .input,
  .textarea {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    > .border {
      border: 1px solid $grey;
      transition: border-color .2s;
      position: absolute;
      top: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      background: transparent;
      z-index: -1;
    }
  }

  textarea {
    min-height: 76px;
    line-height: 1.3 !important;
  }

  .clear {
    text-transform: capitalize;
    font-weight: 400;
    display: inline-block;
    margin-left: 10px;
    color: $blue;
    cursor: pointer;
  }

  > .title {
    font-family: 'Rubik', 'Roboto', 'Arial', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1.15;
  }

  .remove {
    font-size: 20px;
    font-weight: 300;
    color: $grey;
    position: absolute;
    right: -25px;
    top: 32px;
  }

  &.error {
    color: $red;

    .border {
      border-color: $red !important;
    }

    .message {
      font-size: 11px;
      margin-top: 10px;
      color: inherit;
      text-transform: none;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .show-password {
    display: inline-block;
    position: absolute;
    top: 36px;
    right: 14px;
    color: $grey;
  }

  .info {
    display: inline-block;
    color: $grey;
    line-height: 0;
    position: relative;

    svg {
      width: 18px !important;
      height: 18px !important;
    }

    .message {
      display: none;
      position: absolute;
      width: 135px;
      bottom: calc(100% + 12px);
      right: -15px;
      padding: 8px;
      border-radius: 4px;
      background: #fafafa;
      font-size: 11px;
      line-height: 1.2;
      color: $black;
      text-transform: none;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, .10);

      &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        right: 17px;
        width: 0;
        height: 0;
        border: 7px solid #fafafa;
        background: #fafafa;
        transform: rotate(45deg);
      }
    }

    &:hover {
      .SVG {
        color: $blue;
      }

      .message {
        display: inline-block;
      }
    }
  }
}

%input {
  font-family: 'Rubik', 'Roboto', 'Arial', sans-serif;
  appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  font-weight: 400;
  color: $black;
  font-size: 13px;
  line-height: 1.15;
  text-align: left;
  text-overflow: ellipsis;
  transition-property: color, border-color;
  transition-duration: .2s;
  padding: 12px 16px;
  padding-right: 0;
  flex: 1 1 auto;

  &::placeholder {
    color: rgba($black, .35);
  }

  &:focus {
    + .border {
      color: $black;
      border-color: $black;
    }
  }
}

%input--light {
  span {
    &:first-child {
      color: $grey;
    }
  }

  .info {
    .message {
      background: #fff;

      &:before {
        border: 7px solid #fff;
        background: #fff;
      }
    }
  }

  > .input,
  > .textarea {

    .SVG {
      color: #fff;
    }

    > input:not([type='checkbox']),
    > textarea {
      color: #fff;
      background: transparent;

      &:focus {
        + .border {
          color: #fff;
          border-color: #fff;
        }
      }

      &::placeholder {
        color: rgba(#fff, .35);
      }
    }
  }
}
