/*
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
*/
$colorBg: rgb(248, 249, 255);
$fontFamily: 'Montserrat',
sans-serif;
$colorHeading: #292b42;
$white: #fff;
$fontColorGray: #b5b5b5;
$colorSecondary: #9da2c9;
$mainColor: #3e55a6;
$mainColorOnHover: #b4c9ff;

$violetPastel: #5a5b7d;
$green: #5fa153;
$blue: #5b9ac4;
$orange: #b86c30;
$brown: #6c300b;
$lightBlue: #759abb;
$darkGray: #414450;
$yellow: #c99826;
$lightBrown: #93784d;
$red: #b43c33;
$violet: #7243ca;
$colorStart: #6dbd0e;


$background-light: #666770;
$accent-color: #321b3d;
