/*
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
*/
// Colors

$black: #333;
$grey: #9198bb;
$white: #eeeef3;

$light-blue: #00b7f9;
$blue: #0042ba;
$purple-blue: #122283;
$dark-blue: #253277;

$purple: #5b1ec0;
$dark-purple: #4f299b;

$light-red: #ff5c00;
$red: #ee1c25;
$dark-red: #d64040;

$light-green: #26f514;
$green: #40d685;
$dark-green: #019545;

$yellow: #f8e000;
$orange: #f7a120;
$marker: #ccff00;

$primary: $blue;
$secondary: $purple;
$light: #fff;
