/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
@import 'styles/utils';

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 900px;
  padding: 75px 30px;
  margin: 0 auto;

  > footer {
    padding: 75px 30px 0 30px;
    text-align: center;
    width: 100%;
  }

  pre {
    width: 100%;
  }

  > .title {
    color: $dark-purple;
    font-weight: 600;
    font-size: 28px;
    width: 100%;
  }

  > .subtitle {
    color: $grey;
    font-size: 11px;
    margin-top: 15px;
    text-transform: uppercase;
    width: 100%;
  }

  > section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 55px;

    > .examples {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      margin-top: 25px;

      > * + * {
        margin: 15px 0 0;
      }
    }

    > h2 {
      font-weight: 600;
      margin-bottom: 15px;
    }
  }
}
