/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
@import 'styles/utils';

.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 240px;

  h4 {
    margin: 5px 0 15px;
  }

  .code {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .CodeMirror {
    height: auto;
  }

  main {
    width: 100%;
    padding: 50px 30px;

    > .title {
      color: $dark-purple;
      font-weight: 600;
      font-size: 28px;
      width: 100%;
    }

    > .subtitle {
      color: $grey;
      font-size: 11px;
      margin-top: 15px;
      text-transform: uppercase;
      width: 100%;
    }
  }

  aside {
    width: 240px;
    display: block;
    flex: 0 0 auto;
    padding: 30px 25px;
    background: #fff;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
  }

  footer {
    padding: 75px 30px 0 30px;
    text-align: center;
    width: 100%;
  }

  pre {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 55px;

    > .examples {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      margin-top: 25px;

      > * + * {
        margin: 15px 0 0;
      }
    }

    > h2 {
      font-weight: 600;
      margin-bottom: 15px;
    }
  }

  .subtitle {
    margin: 20px 0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;
    font-family: -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Helvetica,
      Arial,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;

    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;

      &:nth-child(even) {
        background-color: #fafafa !important;
      }
    }

    th,
    td {
      border: 1px solid #dfe2e5;
      padding: 6px 13px;
    }
  }
}

.Sidebar {
  margin-top: 50px;

  a {
    display: inline-block;
    padding: 12px 0;
    font-size: 15px;
    color: #999;
    font-weight: 300;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.2s;

    &:hover {
      transform: scale(1.03);
      color: $primary;
    }

    &.active {
      transform: scale(1.03);
      color: $primary;
    }
  }
}
