/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.io
 */
@import 'styles/utils';
@import '../form.scss';

.AMB-Input {
  @extend %label;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  > .input {
    input {
      @extend %input;
    }
  }

  &.light {
    @extend %input--light;
  }

  & + .AMB-Input {
    margin-top: 15px;
  }
}
