@import '../../styles/utils.scss';

.AMB-Number {
  margin: 0 !important;

  > .value {
    color: currentColor;
  }

  > .decimals {
    color: currentColor;
    opacity: 0.6;
    font-size: 0.9em;
  }
}
