@import "styles/utils";

.AMB-Currency {
  margin: 0 !important;

  > .symbol {
    color: currentColor;
    font-size: 0.9em;
    opacity: 1;

    &.left {
      margin-right: 0.3em;
    }

    &.right {
      margin-left: 0.3em;
    }
  }
}
