@import "styles/utils";

.AMB-Accordion {
  width: 100%;

  > .AccordionItem {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    color: $black;

    .title {
      position: relative;
      padding: 15px 25px 15px 15px;
      font-size: 1.35em;
      font-weight: bold;
      font-family: inherit;
      color: currentColor;
      cursor: pointer;
      border-bottom: 1px solid $grey;
      user-select: none;
      opacity: 0.75;
      transition: opacity .3s;

      &:hover {
        opacity: 0.5;
      }

      > .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        line-height: 0;
        transition: transform .3s;

        svg {
          width: 0.75em;
          height: 0.75em;
        }
      }
    }

    .content {
      padding: 15px 0;
      overflow: hidden;
      color: currentColor;
      line-height: 1.55;
    }

    &.active {
      .title {
        opacity: 1;

        > .arrow {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }

  &.light {
    > .AccordionItem {
      color: #fff;
    }
  }
}
