/**
 * Copyright 2018 Ambrosus Inc.
 * Email: tech@ambrosus.com
 */
@import '../../styles/utils.scss';
@import '../form.scss';

.AMB-Textarea {
  @extend %label;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  > .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    > span {
      font-family: 'Rubik', 'Roboto', 'Arial', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 1.15;
    }
  }

  .meta {
    padding: 0 15px;
  }

  > .textarea {
    textarea {
      @extend %input;
    }
  }

  &.light {
    @extend %input--light;
  }

  & + .AMB-Textarea {
    margin-top: 15px;
  }
}
